<div>
  <div class="relative py-4 px-4 sm:px-6 lg:px-8">

    <nav class="w-full relative flex flex-grow-0 flex-shrink-0 items-center sm:h-10 justify-start" aria-label="Global">

      <div class="flex-none">
        <a href="{{ site.baseurl }}/">
          <img class="h-8 w-auto sm:h-10" src="/assets/favicons/favicon-196x196.png">
        </a>
      </div>

      <div class="hidden lg:block lg:ml-10 lg:pr-4 lg:space-x-8 text-center">
        {% for item in site.data.nav %}
          {% assign item_page_name = item | append: ".html" %}
            {% if page.name == item_page_name %}
              <span class="relative mb-2 inline-block text-base font-medium text-gray-700">
                {{ site.translations[site.lang].navigation[item] }}
                <div class="absolute inline-block w-full h-1 left-0 -bottom-1 bg-blue-600"></div>
              </span>
            {% else %}
              <span class="inline-block mb-2 ">
                <a href="{{ site.baseurl }}/{{ item }}" class="font-medium text-gray-500 hover:text-gray-900">
                  {{ site.translations[site.lang].navigation[item] }}
                </a>
              </span>
            {% endif %}
        {% endfor %}
      </div>

      <div class="grow"></div>

      <div id="lang-selector" class="pr-6 top-[2px] flex-none relative inline-block text-left">
        <div>
          <button id="lang-selector-open-btn" type="button" class="inline-flex justify-center w-full shadow-sm bg-white text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" aria-expanded="true" aria-haspopup="true">
            {% if site.lang == 'de' %}
              {% include flags/de.html %}
            {% else %}
              {% include flags/uk.html %}
            {% endif%}
          </button>
        </div>

        <div id="lang-selector-menu" class="hidden z-20 origin-top-right absolute right-0 mt-2 w-24 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
          <div class="py-1" role="none">
            {% if site.lang == 'de' %}
              <a href="{{ site.baseurl_root }}/en{{ page.url }}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1">
                {% include flags/uk.html %} EN
              </a>
            {% else %}
              <a href="{{ site.baseurl_root }}{{ page.url }}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1">
                {% include flags/de.html %} DE
              </a>
            {% endif%}
          </div>
        </div>
      </div>

      <div class="flex-none -mr-2 flex items-center lg:hidden justify-self-end">
        <button id="nav-mobile-open-btn" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

    </nav>
  </div>

  <!-- Mobile -->

  <div id="nav-mobile-target" class="absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right lg:hidden hidden">
    <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
      <div class="px-5 pt-4 flex items-center justify-between">
        <div class="relative py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">
          {% if page.name == 'index.html' %}
            <span>
              {% t navigation.home %}
              <div class="absolute inline-block h-full w-1 -left-3 top-0 bg-blue-600"></div>
            </span>
          {% else %}
            <a href="{{ site.baseurl }}/">
              {% t navigation.home %}
            </a>
          {% endif %}
        </div>

        <div class="-mr-2">
          <button id="nav-mobile-close-btn" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Close main menu</span>

            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>

      <div class="px-2 pt-2 pb-3 space-y-1">
        {% for item in site.data.nav %}
          {% assign item_page_name = item | append: ".html" %}
          {% if page.name == item_page_name %}
            <div class="relative inline-block px-3 py-2 rounded-md text-base font-medium text-gray-700">
              {{ site.translations[site.lang].navigation[item] }}
              <div class="absolute inline-block h-full w-1 left-0 top-0 bg-blue-600"></div>
            </div>
          {% else %}
            <a href="{{ site.baseurl }}/{{ item }}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">
              {{ site.translations[site.lang].navigation[item] }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
