---
layout: default
title: "Dr. Bettina Heidecker: Testimonials"
---

{% assign lang = site.lang | prepend: '/' | append: '/' %}
{% assign list_items = site.testimonials | where_exp: "item", "item.url contains lang" %}

<div class="max-w-7xl">
  <h2 class="md:mb-8 px-4 sm:px-6 lg:px-8">
    {% t titles.testimonials %}
  </h2>

  <div class="md:bg-gray-900 drop-shadow-xl">
    <img class="mx-auto h-[20rem] object-scale-down md:mb-8" src="/assets/images/patient_testimonials.jpg"/>
  </div>

  <div class="divide-y divide-gray-200 px-4 sm:px-6 lg:px-8">
    <div></div>
    {% for item in list_items %}
      {% include testimonial.html item=item %}
    {% endfor %}
  </div>
</div>

